@import "../../assets//scss/variables";


.notifiaction-section{
    .notifiaction-sidebar{
        .notifiaction-title{
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: $color-blue;
            margin-bottom: 20px;
        }
        .notification-tablink{
            .nav-item{
                .nav-link{
                    background-color: transparent;
                    color: $color-black;
                    padding: 20px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    .link-img{
                        margin-right: 10px;
                    }
                    &.active{
                        color: $color-blue;
                    }
                }
            }
        }
    }
}