  .contact-table{
      thead{
          tr{
              border-bottom:2px solid rgba(0, 82, 204, 0.3);
              th{
                padding: 15px 10px;
                cursor: pointer;
                &:hover{
                  .table-heading-block{
                    button{
                      opacity: 1;
                    }
                  }
                }
                  .table-heading-block{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .table-heading-inner-block{
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      span{
                        font-weight: 600;
                        font-size: 14px;
                        color: #000000;
                        opacity: 0.5;
                      }
                    }
                    button{
                      padding: 0;
                      color: #000000;
                      opacity: 0.5;
                      border: none;
                      background-color: transparent;
                      opacity: 0;
                      transition: all 0.5s;
                    }
                  }
                  span{
                      display: flex;
                      align-items: center;
                      input{
                          height: 20px;
                          width: 20px;
                      }
                  }
              }
          }
      }
      tbody{
          tr{
              border-bottom:2px solid rgba(0, 82, 204, 0.3);
              td{
                  font-weight: 400;
                  font-size: 13px;
                  color: #000000;
                  padding: 15px 10px;
                  span{
                      display: flex;
                      align-items: center;
                      input{
                          height: 20px;
                          width: 20px;
                      }
                  }
                  .action-report{
                      span{
                          img{
                              cursor: pointer;
                              width: 15px;
                              height: 15px;
                          }
                      }
                  }
              }
          }
      }
  }

