@import "../../assets//scss/variables";

.video-episode-page{
    display: flex;
    .video-sidebar{
        width: 16%;
        position: fixed;
        left: 0;
        border-right:1px solid rgba($color-black,0.5);
        padding: 0 7.5px;
        height: 100vh;
        .sidebar-head{
            padding: 4px 8px;
            display: flex;
            align-items: center;
            height: 60px;
            border-bottom: 1px solid rgba($color-black,0.5);
            justify-content: space-between;
            .more-bit{
                text-decoration: none;
                display: flex;
                align-items: center;
                span{
                    font-weight: 500;
                    font-size: 12px;
                    color: $color-black;
                }
            }
            .side-logo{
                img{
                    margin-right: 5px;
                }
            }
        }
        .teacher-block{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-bottom: 1px solid rgba($color-black,0.5);
            margin-bottom: 7.5px;
            .teacher-wrap{
                padding-bottom: 0.5rem;
                padding-top: 0.5rem;   
                display: flex;
                align-items: center;
                .teacher-round{
                    position: relative;
                    .teacher-img{
                        align-items: center;
                        border-radius: 50%;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                } 
                .teacher-content{
                    margin-left: 11px;
                    .teacher-name{
                        font-size: 15px;
                        font-weight: 500;
                        color: $color-black;
                        margin-bottom: 7px;
                    }
                    .teacher-timing{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .teacher-lesson{
                            font-size: 9px;
                            align-items: center;
                            color: #78909c;
                            display: flex;
                            svg{
                                fill: #78909c;
                            }
                            p{
                                font-weight: 400;
                                margin-left: 0.25rem;
                            }
                        }
                        .teacher-time{
                            display: flex;
                            align-items: center;
                            font-size: 9px;
                            color: #78909c;
                            svg{
                                fill: #78909c;
                            }
                            p{
                                font-weight: 400;
                                margin-left: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
        .episode-block{
            overflow-y: scroll;
            height: 74vh;
            &::-webkit-scrollbar {
                display: none;
            }
            .episode-wrapper{
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                border-radius: 10px;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
                .episode-step{
                    width: 38px;
                    height: 38px;
                    background-color: rgba(50,138,241,.1);
                    border-radius: 50%;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    span{
                        font-size: 15px;
                        svg{
                            fill: #212529;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                .episode-content{
                    flex: 1 1 0%;
                    display: flex;
                    margin-left: 20px;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 0;
                    .episode-title{
                        font-size: 11px;
                        color: $color-black;
                    }
                    .episode-timestep{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .episode-number{
                            font-size: 9px;
                            color: #78909c;
                        }
                        .episode-minit{
                            display: flex;
                            align-items: center;
                            svg{
                                fill:#78909c;
                            }
                            p{
                                margin-left: 3px;
                                font-size: 9px;
                                color: #78909c;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        width: 84%;
        margin-left: 306px;
        .video-play{
            background-color: #000;
            height: 500px;
        }
        .container{
            max-width: 1166px;
            padding: 30px 0px;
        }
        .stack-block{
            align-items: center;
            margin-bottom: 1rem;
            display: flex;
            background-color: #18273f;
            justify-content: space-between;
            padding: 1rem 1.25rem;
            border-radius: 10px;
            .stack-content{
                display: flex;
                align-items: center;
                img{
                    border-radius: 5px;
                }
                .stack-desc{
                    flex: 1;
                    color: $color-white;
                    font-size: .85rem;
                    font-weight: 500;
                    padding: 1rem 1.25rem;
                    text-align: left;
                }
            }
            .stack-button{
                a{
                    font-size: 10px;
                    color: #78909c;
                    text-decoration: none;
                }
            }
        }
        .single-topic{
            background-image: radial-gradient(circle at 6% 56%, rgb(18, 114, 150), rgb(28, 72, 104) 6%);
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 1.25rem;
            padding-bottom: 0.75rem;
            padding-top: 0.75rem;
            border-radius: 0.934rem;
            display: flex;
            align-items: center;
            p{
                font-size: 15px;
                margin-left: 1.25rem;
                color: $color-white;
            }
        }
        .laravel-vite{
            flex: 1 1 0%;
            display: flex;
            font-weight: 700;
            padding: 1.5rem;
            border-radius: 20px;
            background: linear-gradient(to left, #21c8f6 0%,#637bff 100%);
            margin-bottom: 2rem;
            .arrow-vite{
                flex: none;
                display: flex;
                align-items: center;
                .arrow-vite-left{
                    background-color: hsla(0,0%,100%,.1);
                    border-radius: 50%;
                    svg{
                        width: 45px;
                        fill:#fff;
                        height: 45px;
                    }
                }
            }
            .laravel-vite-content{
                display: flex;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
                flex: 1 1 0%;
                .laravel-vite-inner{
                    flex: 1 1 0%;
                    .bundling-block{
                        display: flex;
                        margin-bottom: 2rem;
                        align-items: center;
                        span{
                            margin-right: 1rem;
                            background-color: hsla(0,0%,100%,.1);
                            border-radius: 50%;
                            display: flex;
                            width: 45px;
                            justify-content: center;
                            height: 45px;
                            align-items: center;
                            svg{
                                fill:$color-white;
                                width: 30px;
                                height: 30px;
                            }
                        }
                        p{
                            font-size: 2.2rem;
                            color: #fff;
                        }
                    }
                    .bundling-episode{
                        margin-left: 0.25rem;
                        display: flex;
                        .bundling-content{
                            padding-left: 1.25rem;
                            padding-right: 1.25rem;
                            border-right: 1px solid hsla(0,0%,100%,.15);
                            &:first-child{
                                padding-right: 1.25rem;
                                padding-left: 0;
                            }
                            &:last-child{
                                border-right: none;
                            }
                            .bundling-content-text{
                                font-size: .6666rem;
                                color: hsla(0,0%,100%,.75);
                                margin-bottom: 0.5rem;
                            }
                            .bundling-content-desc{
                                font-size: .867rem;
                                font-weight: 600;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            .laracast-button{
                width: 200px;
                margin-left: 22.5px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .laracast-complete{
                    align-items: center;
                    flex: 1 1 0%;   
                    display: flex;
                    border-radius: 10px;
                    width: 100%;
                    color: $color-white;
                    justify-content: center;    
                    background-color: hsla(0,0%,100%,.15);
                    border: none;
                    padding: 11.25px 22.5px;
                    font-size: 12px;
                    svg{
                        width: 15px;
                        height: 15px;
                        fill: $color-white;
                        margin-right: 7.5px;
                    }
                }
                .laracast-watchlist{
                    border-radius: 10px;
                    border: none;
                    color: $color-white;
                    font-size: 12px;
                    flex-basis: 150px;
                    background-color: hsla(0,0%,100%,.15);
                    padding: 11.25px 22.5px;
                    flex: 1 1 0%;   
                    svg{
                        margin-right: 7.5px;
                        width: 8px;
                        fill: $color-white;
                    }
                }
            }
            .arrow-vite-right{
                svg{
                    transform: rotate(180deg);
                }
            }
        }
        .teacher-about-block{
            max-width: 860px;
            margin: 0 auto;
            .teacher-about-inner{
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 0.75rem;
                padding-top: 0.75rem;
                background-color: rgb(24 39 63);
                display: flex;
                border-radius: 0.934rem;
                margin-bottom: 10px;
                align-items: center;
                .teacher-about-img{
                    width: 17%;
                    height: 149px;
                    border-radius: 16px;
                    border:3px solid rgb(33 200 246);
                    overflow: hidden;
                    img{
                        max-width: 100%;
                    }
                }
                .teacher-about-content{
                    width: 83%;
                    margin-bottom: 0.5rem;
                    margin-left: 1.5rem;
                    margin-top: 0.5rem;
                    .teacher-about-wrapper{
                        display: flex;
                        align-items: start;
                        justify-content: space-between;
                        .teacher-about-info{
                            .teacher-about-title{
                                color: $color-white;
                                font-weight: 500;
                                font-size: 1.7rem;
                            }
                            .teacher-about-desc{
                                color:rgb(186 217 252);
                                font-size: .8rem;
                            }
                        }
                        .socail-about{
                            display: flex;
                            align-items: center;
                            column-gap: 0.5rem;
                            .twitter-svg{
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                background-color: rgb(25 48 78);
                                border-radius: 0.4rem;
                                width: 2rem;
                                height: 2rem;
                                svg{
                                    fill:rgb(186 217 252)
                                }
                            }
                            .github-svg{
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                background-color: rgb(25 48 78);
                                border-radius: 0.4rem;
                                width: 2rem;
                                height: 2rem;
                                svg{
                                    fill:rgb(186 217 252)
                                }
                            }
                            .visit-website{
                                font-weight: 600;
                                font-size: .6666rem;
                                padding: 0.5rem 1.25rem;
                                background-color: rgba(50,138,241,.1);
                                text-decoration: none;
                                color: $color-white;
                                border-radius: 16px;
                                line-height: 14px;
                            }
                        }
                    }
                    .greetings-text{
                        font-weight: 500;
                        font-size: .867rem;
                        color: $color-white;
                        margin-top: 1rem;
                        max-width: 40rem;
                    }
                }
            }
            .learnpanel-block{
                display: grid;
                grid-template-columns: repeat(6,minmax(0,1fr));
                gap: 1rem;
                .learn-wrapper{
                    grid-column: span 2/span 2;
                    border-radius:0.934rem;
                    background-color: rgb(24, 39, 63);
                    padding: 1.5rem 2rem;
                    p{
                        font-weight: 600;
                        font-size: 1.33333rem;
                        letter-spacing: .02rem;
                        margin-bottom: 1.25rem;
                        line-height: 1;
                        color: $color-white;
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            list-style: none;
                            display: flex;
                            align-items: center;
                            padding: 0;
                            margin-bottom: 7.5px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            .learn-check{
                                background: linear-gradient(180deg,#21c8f6,#637bff);
                                padding: 0.25rem;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                svg{
                                    fill: $color-white;
                                }
                            }
                            .learn-setp{
                                font-weight: 500;
                                font-size: 13px;
                                margin-left: 5px;
                                color: $color-white;
                            }
                        }
                    }
                }
                .learnpanel-content{
                    grid-column: span 4/span 4;
                    border-radius:0.934rem;
                    background-color: rgb(24, 39, 63);
                    padding: 1.5rem 2rem;
                    .learnpanel-detail{
                        display: flex;
                        justify-content: space-between;
                        .learnpanel-title{
                            font-size: 1.33333rem;
                            font-weight: 600;
                            line-height: 1;
                            color: $color-white;
                            margin-bottom: 1.25rem;
                        }
                        .learnpanel-date{
                            font-size: .6666rem;
                            font-weight: 700;
                            color: rgb(186 217 252);
                        }
                    }
                    .learnpanel-desc{
                        color: $color-white;
                        font-weight: 500;
                        font-size: .867rem;
                    }
                }
            }
            .download-block{
                display: grid;
                grid-template-columns: repeat(6,minmax(0,1fr));
                gap: 1rem;
                margin-top: 10px;
                .download-info{
                    grid-column: span 2/span 3;
                    border-radius:0.934rem;
                    gap: 1.25rem;
                    background-color: rgb(24, 39, 63);
                    padding: 2rem;
                    display: flex;
                    align-items: center;
                    p{
                        font-weight: 500;
                        font-size: .867rem;
                        color: rgb(186 217 252);
                    }
                }
            }
            .laracastscta{
                max-width: 370px;
                margin: 0 auto;
                margin-top: 2.5rem;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}