@import "../../assets//scss/variables";


.notifiaction-section{
    .notifiaction-sidebar{
        .notifiaction-title{
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: $color-blue;
            margin-bottom: 20px;
        }
        .notification-tablink{
            .nav-item{
                .nav-link{
                    background-color: transparent;
                    color: $color-black;
                    padding: 20px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    transition: all 0.5s;
                    margin-bottom: 5px;
                    .link-img{
                        margin-right: 10px;
                    }
                    &.active{
                        background-color: rgba($color-blue,0.1);
                    }
                    &:hover{
                        background-color: rgba($color-blue,0.1);
                    }
                }
            }
            .products-tabtitle{
                font-weight: 600;
                font-size: 15px;
                color: rgba($color-black,0.5);
                padding: 15px 0 20px;
            }
        }
    }
    .alltab-contentinner-block{
        padding-bottom: 150px;
        .notification-readblock{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 18px;
            border-bottom: 1px solid rgba($color-black,0.2);
            .notification-readtitle{
                font-weight: 700;
                font-size: 15px;
                color: rgba($color-black,0.5);
            }
            .notification-checkbox{
                display: flex;
                align-items: center;
                .read-checkbox-title{
                    font-weight: 400;
                    font-size: 15px;
                    color: $color-black;
                    margin-right: 20px;
                }
                .react-switch-bg{
                    background-color: $color-blue !important;
                }
            }
        }
        .notification-inbox{
            .notification-inboxconatent{
                text-align: center;
                img{
                    margin: 0 auto;
                    margin-top: 160px;
                    margin-bottom: 50px;
                }
                .inbox-text{
                    font-weight: 400;
                    font-size: 17px;
                    width: 25%;
                    margin: 0 auto 20px;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
        .inbox-shortcut{
            .inbox-shortcut-tip{
                border: 2px solid rgba(0, 82, 204, 0.3);
                border-radius: 6px;
                padding: 20px 140px;
                width: 77%;
                margin: 0 auto;
                justify-content: space-between;
                display: flex;
                align-items: center;
                .inbox-shortcuttip-content{
                    display: flex;
                    align-items: center;
                    .inbox-tip{
                        font-weight: 700;
                        font-size: 17px;
                        margin-right: 10px;
                        color: $color-black;
                    }
                    .inbox-press{
                        font-weight: 400;
                        font-size: 17px;
                        color: $color-black;
                        margin-right: 20px;
                    }
                    .inbox-bottomarrow{
                        margin-right: 20px;
                    }
                    .inbox-toparrow{
                        margin-right: 20px;
                    }
                    .inbox-move{
                        font-size: 17px;
                        font-weight: 400;
                        color: $color-black;
                    }
                }
                .inbox-all{
                    font-weight: 500;
                    font-size: 17px;
                    color: $color-blue;
                }
            }
        }
    }
}