@import "../../assets/scss/variables";


.partner-mainpage{
    .partner-top-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .partner-top-main-block{
            .partner-top-mian-title{
                font-size: 26px;
                font-weight: 500;
                color: $color-black;
            }
            .partner-top-mian-desc{
                color: $color-blue-gray;
                font-size: 14px;
            }
        }
        .partner-main-button{
            .export-partner-btn{
                padding: 10px 20px;
                background-color: #f2f3f3;
                border: none;
                border-radius: 10px;
                margin-right: 5px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                span{
                    margin-left: 4px;
                }
            }
            .add-partner-btn{
                padding: 10px 20px;
                background-color: $color-blue;
                border: none;
                border-radius: 10px;
                font-size: 13px;
                color: $color-white;
            }
        }
    }

    .partner-tab{
        border:1px solid rgba(34, 36, 38, 0.15) ;
        border-right: none;
        border-left: none;
        box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
        .nav-item{
            button{
                border: none;
                border-radius: 0;
                font-size: 13px;
                padding: 12px 15px;
                color: rgba(0, 0, 0, 0.95);
                background-color: transparent;
                position: relative;
                &.active{
                    color: rgba(0, 0, 0, 0.95);
                    font-weight: 400;
                    box-shadow: none;
                }
                &:hover{
                    background: rgba(0, 0, 0, 0.05);
                }
                &:after{
                    position: absolute;
                    content: '';
                    top: 0%;
                    right: 0px;
                    height: 100%;
                    width: 1px;
                    background: rgba(34, 36, 38, 0.1);
                }
            }
        }
    }

    .partner-tabs-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .partner-inner-left{
            display: flex;
            align-items: center;
            .partner-select{
                width: 210px;
                border: 1px solid rgba(34, 36, 38, 0.15);
                border-radius: 6px;
                height: 40px;
                margin-right: 15px;
                box-shadow: none;
            }
            .partnersearch{
                margin-right: 15px;
                .partnersearchinput{
                    position: relative;
                    input{
                        border: 1px solid rgba(34, 36, 38, 0.15);
                        border-radius: 6px;
                        width: 200px;
                        padding-right: 35px;
                        color: rgba(0, 0, 0, 0.8);
                        height: 40px;
                        outline:none;
                        font-size: 14px;
                        text-indent: 10px;
                    }
                    span{
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 30px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        svg{
                            fill: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }

            .filter-partners-btn{
                background-color: $color-blue;
                .filter-icon{
                    img{
                        margin-right: 5px;
                        width: 15px;
                    }
                }
                .filter-text{
                    font-size: 13px;
                }
            }
        }
        .partner-inner-right{
            display: flex;
            align-items: center;
            .save-btn{
                background-color: $color-blue;
                border-color:$color-blue;
                margin-right: 15px;
                padding: 8px 12px;
                font-size: 14px;
            }
            .view-btn{
                background-color: $color-blue;
                border-color:$color-blue;
                padding: 8px 12px;
                font-size: 14px;
                svg{
                    margin-right: 5px;
                }
            }
        }
    }
    .partner-all-table{
        .partner-count-edit{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .partner-count{
                font-size: 13px;
                color: rgba($color-black,0.5);
            }
            .edit-columns{
                font-size: 13px;
                color: rgba($color-black,0.5);
            }
        }
        .partner-tableall{
            thead{
                tr{
                    border-bottom:2px solid rgba(0, 82, 204, 0.3);
                    th{
                        padding: 15px 10px;
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 14px;
                        color: rgba($color-black,0.5);
                        span{
                            display: flex;
                            align-items: center;
                            input{
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }
                }
            }
            tbody{
                tr{
                    border-bottom:2px solid rgba(0, 82, 204, 0.3);
                    td{
                        font-weight: 400;
                        font-size: 13px;
                        color: #000000;
                        padding: 15px 10px;
                        span{
                            display: flex;
                            align-items: center;
                            input{
                                height: 20px;
                                width: 20px;
                            }
                        }
                        .action-report{
                            span{
                                img{
                                    cursor: pointer;
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}